* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: rgba(0, 0, 0, 0.897);
    color: white;
}
section {
    padding-top: 5rem;
    /* padding-top: rem; */
    padding-left: 7rem;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}
nav {
    padding-left: 5rem;
    padding-right: 5rem;
    color: #c9c7c7;
    /* padding-top: 0.75rem; */
    /* padding-left: 5rem; */
    font-family: 'Mulish', sans-serif;

}
ul {
    list-style-type: none;
    
}
li {
    display: inline-block;

}
li a {
    color: #c9c7c7;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 4rem;
    font-weight: bolder;
}
.btn button {
    background: yellow;
    border: none;
    border-radius: 2px;
    height: 3.25rem;
    width: 10rem;
    /* padding: 0.75rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    /* margin: 1rem; */
    padding-top: -2rem;
    margin-right: 2rem;
    font-family: 'Mulish', sans-serif;
}

.content {
    padding-left: 7rem;
    
  
}
.content h1 {
    font-family: 'Inter', sans-serif;
    /* word-spacing: 10px; */
    /* letter-spacing: 1px; */
    font-size: 4.2rem;
    font-weight: normal;
    margin-top: 5rem;
}
.content p {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    color: #c9c7c7;
    font-size: 20px;
    margin-top: 1rem;
}   
.brands {
    padding-left: 7rem;
    padding-right: 2rem;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.brands {
    justify-content: space-between;
}
.row {
    display: flex;
    background: rgba(0, 0, 0, 0.897);
    color: white;
    justify-content: space-around;
    padding-left: 7rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.col-2 {
    flex-basis: 50%;
    
}
.col-2 h1 {
    font-family: 'Inter', sans-serif;
}
.col-2 p {
    font-family: 'Mulish', sans-serif;
    color: #c9c7c7;
    font-size: 20px;
    margin-top: 1rem;
}
.content-2 {
    background: #4a4949;
    color: white;
    margin: 0;
    padding-bottom: 4rem;
}
.row-2 {
    display: flex;
    /* justify-content: center; */
    padding-left: 7rem;
    padding-top: 3rem;
    
}
.col-22 {
    flex-basis: 50%;
    /* justify-content: center; */
    margin-top: auto;
}
.col-22 h1 {
    line-height: 3rem;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    color: #c9c7c7;
}
.col-22 p {
    margin-top: 2rem;
    /* font-size: larger; */
    color: #c9c7c7;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
.content-3 {
    background: black;
    color: white;
    padding-top: 5rem;
    padding-left: 7rem;
    padding-bottom: 3rem;
}
.content-3 h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
}
.content-3 p {
    font-family: 'Mulish', sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.btn-1 button {
    background: yellow;
    border: none;
    border-radius: 2px;
    height: 3.25rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: bolder;
}
.footer {
    background: #4a4949;
    display: flex;
    padding-left: 7rem;
    height: 10vh;
    align-items: center;
    width: 100%;
    position: relative;
}
.media {
    position: absolute;
    right: 10%;
}
.media img {
    padding-left: 1rem;
}

.fa.fa-long-arrow-right {
    width: 10rem;
}